.weapon-mods-categories {
    display: flex;
    flex-flow: column;

    gap: 2rem;

    width: 100%;
    padding: 1rem;
}

.weapon-mods-category {
    display: flex;
    flex-flow: column;
    background-color: #1b1b25;

    width: 100%;
}

.weapon-mods-category__header {
    display: flex;
    background-color: #1b1b25;
    align-items: center;
}

.weapon-mods-category__name {
    flex: auto;

    text-align: left;
    padding: 0.5rem;
}

.weapon-mods-category__mods {
    width: 100%;
    flex-wrap: nowrap;
    display: flex;
    flex-flow: row;
    overflow-x: auto;
    gap: 1rem;
    padding: 2rem;

}

.weapon-mods-category__mods[data-collapsed="true"] {
    display: none;
}

.weapon-mods-category__mods::-webkit-scrollbar {
    background-color: #1b1b25;
    height: 8px;
}

.weapon-mods-category__mods::-webkit-scrollbar-thumb {
    background-color: #4e4e9c;
    border-radius: 16px;
}