.players {

    &__edit {
        margin: 0.25rem;
        display: block;
        text-align: center;
        color: white;
        background-color: #2c2c47;
        cursor: pointer;
        transition: background-color 0.25s ease;
        padding: 0.25rem;
        text-decoration: none;

        &:hover {
            background-color: #4e4e9c;

        }
    }

}

.table {
    width: 100%;
    border-collapse: collapse;

    &__head {
        position: sticky;
        top: 0;
        left: 0;

        &__row {
            background-color: #34345a !important;
            border-radius: 0.5rem;
        }
    }

    tr {
        background-color: #191922;
    }

    tr:nth-child(odd) {
        background-color: #1d1d29;
    }

    td,
    th {
        padding: 0.5rem;
        text-align: left;
    }

}