.gear {
    min-width: 180px;
    border: 1px solid #415999;
    max-width: 200px;
    width: 50%;

    display: flex;
    flex-flow: column;
}

.gear__details {
    flex: auto;
    padding: 1rem;
    background-color: #202b46;
}

.gear__name {
font-size: 1rem;
}

.gear__image {
    width: 160px;
    margin: 0 auto;
}


.gears {
    flex: auto;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width: 100%;
    overflow-x: auto;
    gap: 1rem;
    margin: 1rem;
}

