$default-button-color: #4e4e9c;

$default-background-color: #232331;
$default-border-color: #2e2e66;
$default-surface-color: #34345abb;
$default-owned-border-color: #4e4e9c;

$uncommon-border-color: #7a7a7a;
$uncommon-background-color: linear-gradient(45deg, #505050 0%, #707070 50% 20%, #3b3737);
$uncommon-surface-color: #3f3f3fbb;
$uncommon-button-color: #918383;

$rare-border-color: #a39906;
$rare-background-color: linear-gradient(25deg, #5c560b, #a39906, #666114);
$rare-surface-color: #5e5a2fbb;
$rare-button-color: #978f20;

$ultra-rare-border-color: #272727;
$ultra-rare-background-color: linear-gradient(90deg, #141414 25% 25%, #7e2e2c 30% 70%, #141414 75% 75%);
$ultra-rare-surface-color: #2e2828bb;
$ultra-rare-button-color: #ac5957;

.card {
    display: flex;
    flex-flow: column;
    position: relative;

    flex: 0 0 auto;
    gap: 0.5rem;

    max-width: 300px;
    width: 100%;

    background: $default-background-color;
    border: 5px solid $default-border-color;

    text-align: center;
    border-radius: 0.5rem;

    transition: border-color 0.5s, opacity 0.5s;

    padding: 0.5rem;

    opacity: 0.5;

    &__name {
        padding: 0.5rem;
        background-color: $default-surface-color;
        border-radius: 0.45rem;
    }

    &__img {

        &-wrapper {
            width: 100%;
            background-color: $default-surface-color;
            border-radius: 0.45rem;
            overflow: hidden;
        }

        max-width: 160px;
        width: 100%;
        margin: 0 auto;
    }

    &__action {
        display: block;
        width: 100%;
        padding: 0.5rem;
        font-size: 1.25rem;

        border: none;
        border-radius: 0.25rem;

        background-color: $default-button-color;
        color: white;
        cursor: pointer;

        transition: background-color 0.5s;
    }

    &__level {
        display: flex;
        flex-flow: column;
        padding: 0.5rem;

        border-radius: 0.4rem;

        background-color: $default-surface-color;

        &__name {
            margin-bottom: 0.5rem;
            font-size: 1.25rem;

            color: white;
        }

        &__wrapper {
            display: flex;
            flex-flow: row;
            gap: 0.5rem;
            align-items: stretch;
        }

        &__input {
            display: block;
            flex-flow: column;
            max-width: 3.5rem;
            font-size: 1.25rem;

            border: none;
            border-radius: 0.25rem;

            text-align: center;

            background-color: $default-button-color;
            color: white;

            transition: background-color 0.5s;
        }

        &__actions {
            flex: auto;
            display: flex;
            flex-flow: row;
            justify-content: stretch;
            align-items: stretch;
            width: 100%;
            gap: 0.5rem;

            &__button {
                flex: auto;
                padding: 0.25rem;
                font-size: 1.25rem;
                background-color: $default-button-color;
                border: none;
                color: white;
                border-radius: 0.25rem;
                cursor: pointer;
                transition: background-color 0.5s;
            }
        }

    }

    // Defaults & Common Rarirty
    &[data-owned="true"] {
        opacity: 1;
        border: 5px solid $default-owned-border-color;
    }

    // Uncommon Rarirty
    &[data-rarity="1"] {
        border-color: $uncommon-border-color;
        background: $uncommon-background-color;

        .card__level__input,
        .card__level__actions__button,
        .card__action {
            background-color: $uncommon-button-color;
        }

        .card__name,
        .card__img-wrapper,
        .card__level {
            background-color: $uncommon-surface-color;
        }
    }

    // Rare Rarirty
    &[data-rarity="2"] {
        border-color: $rare-border-color;
        background: $rare-background-color;

        .card__level__input,
        .card__level__actions__button,
        .card__action {
            background-color: $rare-button-color;
        }

        .card__name,
        .card__img-wrapper,
        .card__level {
            background-color: $rare-surface-color;
        }

    }


    // UltraRare Rarirty
    &[data-rarity="3"] {
        border-color: $ultra-rare-border-color;
        background: $ultra-rare-background-color;

        .card__level__input,
        .card__level__actions__button,
        .card__action {
            background-color: $ultra-rare-button-color;
        }

        .card__name,
        .card__img-wrapper,
        .card__level {
            background-color: $ultra-rare-surface-color;
        }
    }
}