@import "@fontsource/abel";

:root {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color: #f6f6f6;
    background-color: #060a13;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}


* {
    font-family: "Abel", Arial, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#root {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Abel", sans-serif;
    width: 100%;
    height: 100vh;
}

.button {

    border: none;
    background-color: #2c2c47;
    padding: 0.5rem;
    font-size: 1.25rem;
    color: white;
    border-radius: 0.25rem;
    transition: background-color 0.25s ease;
    cursor: pointer;
    text-decoration: none;

    &:hover:not(:disabled) {
        background-color: #4e4e9c;
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    &--nav {
        &:hover {
            background-color: #444475;
        }

        &--active {
            background-color: #6060be;

            &:hover {
                background-color: #3d3d7e;
            }
        }
    }

    &--fill {
        display: block;
        width: 100%;
    }
}

.error {
    color: rgb(185, 82, 82);
}

.select {
    border: none;
    background-color: #2c2c47;
    padding: 0.5rem;
    font-size: 1.25rem;
    color: white;
    border-radius: 0.25rem;
    transition: background-color 0.25s ease;
    cursor: pointer;
    text-decoration: none;
}

.input {
    display: flex;
    flex-flow: column;

    &--small {
        flex-flow: row;
        align-items: center;
        gap: 1rem;

        .input__name {
            margin-bottom: 0;
            flex: auto;
            text-align: left;
        }

        .input__value {
            max-width: 4.5rem;
            text-align: center;
        }

    }
}

.input__name {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 0.5rem;
}

.input__value {
    color: #777;
    padding: 0.5rem;
    font-size: 1.1rem;
    background-color: #171727;
    border: none;
    border-bottom: 1px solid white;
    border-radius: 0.3rem;
}


.modal-wrapper {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: #1c1c31;
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: left;
    display: flex;
    flex-flow: column;
    gap: 1rem;
    min-width: 500px;
}


.modal__title {
    font-weight: bold;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

.modal__text {
    font-size: 1.2rem;
    color: #cacaca;
}

a {
    color: #7272d1;
    font-weight: bold;
}

.collapse-list {
    display: flex;
    flex-flow: column;

    gap: 1rem;

    width: 100%;
}



*::-webkit-scrollbar {
    background-color: #1b1b25;
    height: 8px;
    width: 8px;
}

*::-webkit-scrollbar-thumb {
    background-color: #4e4e9c;
    border-radius: 16px;
}

.flex-height {
    position: relative;
    flex: auto;
    height: 100%;
    overflow-y: auto;
}

.full-size {
    width: 100%;
    height: 100%;
}

.list {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
    gap: 1rem;
    padding: 1rem;
    overflow-y: auto;

    &__actions {
        display: flex;
        flex-flow: row;
        gap: 1rem;

        &__row {
            display: flex;
            flex-flow: row;
            gap: 1rem;
            align-items: center;
        }
    }

    &__contents {
        width: 100%;
        height: 100%;
        flex: auto;
        overflow-y: auto;

        display: flex;
        flex-flow: column;
    
        &__title {
            margin-bottom: 1rem;
        }

        &__header {
            display: flex;
            gap: 1rem;
            margin-bottom: 1rem;
        }

        &__value {
            width: 100%;
            flex: auto;
            height: 100%;
            overflow-y: auto;
        }

        &--rows {
            display: flex;
            flex-flow: row wrap;
            gap: 1rem;
            justify-content: space-evenly;
            align-items: flex-start;
        }

        &--gap {
            gap: 1rem;
        }
    }
}

.list--slim {
    padding: 0 1rem 1rem;
}


.table {
    width: 100%;
    border-collapse: collapse;

    &__head {
        position: sticky;
        top: 0;
        left: 0;

        &__row {
            background-color: #34345a !important;
            border-radius: 0.5rem;
        }
    }

    tr {
        background-color: #191922;
    }

    tr:nth-child(odd) {
        background-color: #1d1d29;
    }

    td,
    th {
        padding: 0.5rem;
        text-align: left;
    }
    &__button {
        margin: 0.25rem;
        display: block;
        text-align: center;
        color: white;
        background-color: #2c2c47;
        cursor: pointer;
        transition: background-color 0.25s ease;
        padding: 0.25rem;
        text-decoration: none;
    
        &:hover {
            background-color: #4e4e9c;
    
        }
    }
}

@import "./card.scss";